<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427883207681-3c8cpd32bi6n8omkmscbb44htrpl8vll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427883207681-3c8cpd32bi6n8omkmscbb44htrpl8vll</string>
	<key>API_KEY</key>
	<string>AIzaSyDi8AO5QwIt11OpClOrl7Fp3Avp4P7mPMc</string>
	<key>GCM_SENDER_ID</key>
	<string>427883207681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kuwahara.MapApp</string>
	<key>PROJECT_ID</key>
	<string>practicefirebase-cdea5</string>
	<key>STORAGE_BUCKET</key>
	<string>practicefirebase-cdea5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427883207681:ios:7a5a294379acce7c957400</string>
</dict>
</plist>